<div id="home" class="flex  items-center justify-evenly h-[95%] w-[90%] bg-green-400 p-6">
    <img src="assets/2velas.jpg" alt="2 velas para el diablo" class="w-1/3 h-3/5 mx-auto">
    <p class="text-center font-bold p-3 max-h-60 overflow-auto scrollbar2 text-3xl">
        ¡Bienvenido a nuestra página de libros!

        Sumérgete en un mundo de historias y aventuras. Explora las páginas de nuestros libros y déjate llevar por la
        magia de la literatura. Aquí encontrarás una amplia selección de títulos que te transportarán a lugares lejanos,
        te harán reír, llorar y reflexionar.

        Ya seas un apasionado lector o estés buscando tu próxima lectura, estamos aquí para acompañarte en tu viaje
        literario. Descubre nuevos mundos, conoce a personajes inolvidables y déjate inspirar por las palabras impresas.

        ¡Bienvenido a un rincón donde los libros cobran vida!
    </p>
</div>